* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: brown;
}

.navList {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

.buttonAbrir, .buttonCerrar {
    display: none;
}



@media screen and (max-width: 550px) { 
    .buttonAbrir, .buttonCerrar {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }
    .buttonAbrir{
        padding: .5rem;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: brown;
        padding: 1.5rem;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .navList{
        flex-direction: column;
        align-items: end;
        gap: 2rem;
    }
};